*{
    margin: 0;
    padding: 0;
    background-color: black;
}
div{
    width: 800px;
    height: 500px;
    margin: auto;
    position: relative;
    top: 300px;
}
span{
    width: 50px;
    height: 50px;
    display: inline-block;
    position: relative;
    border-radius: 100%;
}
span:nth-child(1){
    background-color: aqua;
    animation: IDFC 1s linear 1.2s infinite;
}
span:nth-child(2){
    background-color: rgb(255, 0, 157);
    animation: IDFC 1s linear 1.4s infinite;
}
span:nth-child(3){
    background-color: rgb(229, 255, 0);
    animation: IDFC 1s linear 1.6s infinite;
}
span:nth-child(4){
    background-color: rgb(89, 0, 255);
    animation: IDFC 1s linear 1.8s infinite;
}
span:nth-child(5){
    background-color: rgb(255, 30, 0);
    animation: IDFC 1s linear 2s infinite;
}
span:nth-child(6){
    background-color: rgb(0, 255, 34);
    animation: IDFC 1s linear 2.2s infinite;
}
span:nth-child(7){
    background-color: rgb(71, 116, 0);
    animation: IDFC 1s linear 2.4s infinite;
}
span:nth-child(8){
    background-color: rgb(0, 104, 104);
    animation: IDFC 1s linear 2.6s infinite;
}
span:nth-child(9){
    background-color: rgb(121, 15, 80);
    animation: IDFC 1s linear 2.8s infinite;
}
span:nth-child(10){
    background-color: rgba(229, 255, 0, 0.39);
    animation: IDFC 1s linear 3s infinite;
}
span:nth-child(11){
    background-color: rgb(89, 0, 255);
    animation: IDFC 1s linear 3.2s infinite;
}
span:nth-child(12){
    background-color: rgba(255, 30, 0, 0.466);
    animation: IDFC 1s linear 3.4s infinite;
}
span:nth-child(13){
    background-color: rgb(255, 166, 0);
    animation: IDFC 1s linear 3.6s infinite;
}
span:nth-child(14){
    background-color: rgb(255, 251, 0);
    animation: IDFC 1s linear 3.8s infinite;
}
@keyframes IDFC{
    0%{
        top: 0;
    }
    50%{
        top: 150px;
    }
    100%{
        top: 0px;
    }
}
