/* div{
    width: 800px;
    height: 800px;
    border: 5px solid rgb(255, 0, 0);
    background-image: url(../pictures/download.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
} */
div{
    width: 800px;
    height: 900px;
    border: 6px solid red;
    border-right-color: purple;
    border-top-style: groove;
    border-left-color: blue;
    border-right-style: ridge;
    border-left-style: groove;
    border-bottom-color: yellow;
    background-color: rgb(202, 106, 202);
    background-image: url(../pictures/moneyheist.png),url(../pictures/download.jpg),url(../pictures/kanthara.jpg),url(../pictures/kanthara.jpg),url(../pictures/download.jpg),url(../pictures/moneyheist.png);
    background-repeat: no-repeat;
    background-position: top left,top center,top right,bottom left ,bottom center,bottom right;
    background-size: 150px 200px,150px 200px,150px 200px,150px 200px,150px 200px,150px 200px;
  
}
